body {
    background-color: #0b516b;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#speaker-container {
    flex: 1;
}

#speaker {
    width: 640px;
    height: 480px;
    background-color: gray;
    margin: 0 auto;
}

#participants-container {
    flex: 0;
    background-color: #003f5f;
}

#participants {
    display: flex;
    justify-content: center;
}

#transcript {
    font-size: 24px;
    color: black;
    text-align: center;
    margin: 20px 0;
}

#participants > .OT_subscriber {
    border: 3px solid white;
    border-radius: 3px;
    width: 180px !important;
    height: 120px !important;
    margin: 20px;
}
